th, td{
    border: 0px solid white;
}

.capability{
    background-color: white;
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 18%;
}

.capabilitiesDiv{
    margin: 20px 20px 20px 0px;
    float: right;
}

.connectedDevice{
    color: pink;
}

.disconnectedDevice{
    color: #ffa500;
}

.m-right10{
    margin-right: 10px;
}